.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
